PORT=4000
MONGODB_URI=mongodb://localhost:27017/deen_w_donya
JWT_SECRET=change_me_jwt_secret_very_long_random_string
JWT_REFRESH_SECRET=change_me_jwt_refresh_secret_very_long_random_string
ENCRYPTION_KEY=change_me_32_byte_hex_key_here_00
AI_SERVICE_URL=http://localhost:8000
AI_SERVICE_SECRET=change_me_internal_service_secret
NODE_ENV=development
